/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.tab {
  float: left;
  width: 10%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
}

.card{
  border:none;
  box-shadow: 10px 5px 5px lightgrey;
  min-width: 300px;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.card-header{
  background-color: white;
}

.profile-image{
  border-radius: 50%;
  min-width: 200px;
}

.profile-image_large{
  width: 80%;
  height:120vw;
  max-height: 850px;
  min-width: 300px;
  max-width: 490px;
}

.text-highlight{
  color: rgb(64, 179, 166)
}

.about-me-list{
  list-style: none}

.about-icon{
  color: darkgray;
}

.project-bullet{
  list-style: none
}

.deployed-site-link{
  text-decoration: none;
}

.github-link{
  color: grey
}

main{
  display: flex;
  flex-direction: column;
  min-height: 78vh
}

.footer-component{
  margin-top: auto;
}